# Add here internal Software Heritage dependencies, one per line.
swh.core[http] >= 0.3
swh.objstorage >= 2.3.1
swh.journal@git+https://gitlab.softwareheritage.org/swh/devel/swh-journal.git@refs/merge-requests/284/head
